{% extends 'layout/default.html' %}
    {% block content %}
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
                {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td><a href="{{ url_for('get_url', id=url.id) }}">{{ url.name }}</a></td>
                    <td>{% if url.created_at %}{{ url.created_at.strftime('%Y-%m-%d %H:%M:%S')}}{% endif %}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
